<div class="form-content">
  <h2>Send a New Message to <%= @receiver.username %></h2>

  <%= form_for @message do |f| %>
    <%= hidden_field_tag 'receiver_id', @receiver.id %>
    <div class="field">
      <%= f.label :body %>
      <%= f.text_area :body %>    
    </div>
    
    <%= f.submit 'Send Message', class:'button-blue-1 remove-submit-styling' %>
  <% end %>
</div>