<%= render "shared/form-errors", resource: profile %>

<%= form_with model: profile, local: true, class: "listings-form"  do |f| %>
    <div class="field">
        <%= f.label :username %>
        <%= f.text_field :username %>
    </div>

    <div class="field">
        <%= f.label :profile_pic %> 
        <%= f.file_field :profile_pic, accept: 'image/png,image/gif,image/jpeg,image/jpg' %>
    </div>

    <div class="actions">
        <%= f.submit 'Save Profile', class:'button-blue-1 remove-submit-styling'%>
    </div>
<% end %>