<div class="profile-content">
    <h1><%= @profile.username %> Dashboard</h1>
    <div class="profile-info">
        <%= render 'shared/load_profile_pic', profile: @profile %>
        <div class="profile-links">
            <p>Email: <%= @profile.user.email %></p>
            <p>current rating: <%= @profile.rating %></p>
            <%= link_to 'Change Profile', edit_profile_path, class:'button-blue-1 buttons' %>
            <%= link_to 'Change Email or Password', edit_user_registration_path, class:'button-blue-1 buttons' %>    
        </div>
    </div>
    <h2>Active Listings:</h2>
    <%= render 'table', listings: @active_listings %>
    <h2>Past Listings:</h2>
    <%= render 'table', listings: @past_listings %>
    <h2>Transactions</h2>
    <table>
        <tr>
            <th>Board Game</th>
            <th>Seller</th>
            <th>Your Rating</th>
            <th>Actions</th>
        </tr>
        <% @transactions.each do |transaction| %>
        <tr>
            <td><%= transaction.listing.board_game_name %></td>
            <td><%= transaction.listing.profile.username %></td>
            <td><%= transaction.rating %></td>
            <td><%= link_to 'View', listing_transaction_path(transaction.listing.id)  %></td>
        </tr>
        <% end %>
    </table>
</div>