<div class="message-header"><%= @conversation.with(current_user.profile).username %></div>

<div id="conversation-main">
  <div id="conversation-body" class="chat">
    <%= render @conversation.messages %>
  </div>

  <%= form_for @message do |f| %>
    <%= hidden_field_tag 'conversation_id', @conversation.id %>
    <%= f.text_field :body %>

    <%= f.submit 'Send', class: 'button-blue-1 chat-input'%>
  <% end %>
</div>
