<div class="form-content">
    <% if @transaction.rating %>
        <h4>You rated <%= @listing.profile.username %>:</h4>    
        <p><%= @transaction.rating %></p>
    <% else %>
        <h4>Give <%= @listing.profile.username %> a rating:</h4>
        <%= form_with url: rating_path(transaction.id) do  |f| %>
            <%= f.label :rating %>
            <%= f.number_field :rating %>
            <%= f.submit 'Submit rating', class:'button-blue-1 remove-submit-styling'%>
        <% end %>
    <% end %>
</div>