<!DOCTYPE html>
<html>
  <head>
    <title>BoardGamesExchange</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css2?family=Lora&family=Montserrat:wght@600&family=Roboto&display=swap" rel="stylesheet">
  </head>

  <body>
    <%= render 'shared/nav' %>
    <header>
      <%= search_form_for @q do |f| %>
        <%= f.search_field :board_game_name_or_description_or_condition_or_listing_type_cont, class:'search-field' %>
        <%= f.submit 'search', class:"search remove-submit-styling" %>
      <% end %>
  </header>
    <main>
      <%= yield %>
      <%= link_to new_listing_path, class: "add-listing" do %>
          <h4 class="plus">+</h4><h4 class="add-text">Add Listing</h4>
      <% end %>
    </main>
  </body>
</html>
